*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: black;
}
.container{
    margin-left: 50px;
    margin-top: 50px;
}
h1{
    color: white;
    font-size: 60px;
    font-weight: 400;
}

#paras{
    display: flex;
    gap: 5px;
    font-size: 22px;
}
#para1{
    color: #D3D3D3;
}

#para2{
    color: white;
}

hr{
    width: 188px;
}

#error{
    margin-top: 30px;
    color: brown;
    font-size: large;
    display: none;
}

.buttons{
    margin-top: 25px;
    display: flex;
    gap: 14px;
}
#decrement{
    width: 120px;
    height: 30px;
}
#increment{
    width: 120px;
    height: 30px;
}
#clear{
    background-color: black;
    color: white;
    width: 120px;
    height: 30px;
    border: 1px solid white;
}